.flex-break {
    flex-basis: 100%;
    height: 0;
}
.sdt-tooltip {
    background: rgba(237, 237, 237, 0.9);
    color: black;
    transform: translate(-50%, 100%) !important;
    font-weight: bold;
}
#savedNicks, #savedOutfits {
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 auto;
}
#chat a,
#motd a {
    color: #14bcff !important;
}
.sdt-highlight {
    color: #14bcff;
    font-weight: bold;
}
